$color-primary: #388CCA;

$color-primary-light-1: #64b7fc;
$color-primary-light-2: white;

$color-primary-dark-1: #005a98;
$color-primary-dark-2: #4e86c9;


$color-secondary: #2962ff;



$color-success: #00acc1;
$color-info: #2979ff;
$color-warning: #eeff41;
$color-danger: #ff9100;
